<div id="<%= dom_id list %>">
  <p>
    <strong>Name:</strong>
    <%= list.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= list.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= list.gender %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= list.designation %>
  </p>

</div>
